.page {
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center;

}

.sky {
  background-color: #ffffff; 
}

.navy {
  background-color: #000080; 
}

.fade-in {
  opacity: 0; 
  transition: opacity 1s ease-in; 
}

.fade-in.visible {
  opacity: 1; 
}
